<h1>Nuestros Productos</h1>
<button [routerLink]="['/producto-admin/0']" type="button" class="btn btn-outline-primary" type="button" name="button">
    Nuevo Producto
</button>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Denominación</th>
            <th scope="col">Rubro</th>
            <th scope="col">Tiempo Cocina</th>
            <th scope="col">Alta</th>
            <th scope="col">Descripción</th>
            <th scope="col">Imagen</th>
            <th scope="col">Precio</th>
            <th scope="col">Receta</th>
        </tr>
    </thead>
    <tbody *ngFor="let productoAux of producto; let i = index">
        <tr>
            <th scope="row">{{productoAux.id}}</th>
            <th scope="row">{{productoAux.denominacion}}</th>
            <th scope="row">{{productoAux.rubro}}</th>
            <th scope="row">{{productoAux.tiempoCocina}}</th>
            <th scope="row">{{productoAux.alta}}</th>
            <th scope="row">{{productoAux.descripcion}}</th>
            <th scope="row">{{productoAux.imagen}}</th>
            <th scope="row">{{productoAux.precio}}</th>
            <th scope="row">{{productoAux.receta}}</th>

            <td class="text-right w120">

                <button [routerLink]="['/producto-admin/'+productoAux.id]" type="button" class="btn btn-outline-success" type="button" name="button">
                  <i class="fas fa-edit"></i> Editar
            </button>&nbsp;&nbsp;
                <button (click)="delete(productoAux.id)" type="button" class="btn btn-outline-danger" type="button" name="button">
                  <i class="fas fa-trash-alt"></i> Eliminar
            </button>
            </td>
        </tr>
    </tbody>
</table>