<header>
    <div class="container mt-5">
        <div class="jumbotron" id="home">
            <section>
                <div class="row">
                    <div class="col-md-6">
                        <div class="d-flex flex-column justify-content-center align-items-center h-100">
                            <h2 class="heading display-3">El Buen Sabor</h2>
                            <h4 class="subheading font-weight-bold">Ahora pedir comida es más fácil. Registrate o iniciá sesión para disfrutar de tus comidas favoritas</h4>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="view">
                            <img src="../assets/images/front.jpg" class="img-fluid" alt="smaple image">
                            <div class="mask flex-center hm-gradient">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</header>

<main>
    <div class="jumbotron background:transparent !important" id="us">
        <div class="container">
            <div class="row mt-5 mb-4">
                <div class="col-md-12">
                    <div class="headings">
                        <span class="hr"></span>
                        <h2 class="text-center text-uppercase font-weight-bold mr-3 ml-3 wow fadeIn">SOBRE NOSOTROS</h2>
                        <span class="hr"></span>
                    </div>
                </div>
            </div>


            <div class="row mt-4">

                <!--First column-->
                <div class="col-lg-5 col-md-12 mb-3 wow fadeIn" data-wow-delay="0.4s">

                    <!--Image-->
                    <img src="https://mdbootstrap.com/img/Others/food2.jpg" alt="" class="z-depth-0 img-fluid">

                </div>
                <!--/First column-->

                <!--Second column-->
                <div class="col-lg-6 offset-lg-1 col-md-12 wow fadeIn" data-wow-delay="0.4s">

                    <!--Title-->
                    <h4 class="text-center mb-4">El mejor delivery de Mendoza</h4>

                    <!--Description-->
                    <p class="grey-text mb-6 mr-3  ml-3" align="justify">Ofrece a sus clientes una amplia variedad de bebidas y de comidas de fabricación propia, posee un horario de atención de lunes a domingos de 20:00 a 12:00, Sábados y domingos de 11:00 a 15:00.</p>

                </div>
                <!--/Second column-->

            </div>
        </div>
        <!--Grid container-->
    </div>
    <!--Grid jumbo-->


    <footer class="text-center text-lg-start bg-light text-muted">
        <div class="headings">
            <span class="hr"></span>
            <h2 class="text-center text-uppercase font-weight-bold mr-3 ml-3 wow fadeIn">CONTACTANOS</h2>
            <span class="hr"></span>
        </div>
        <p class="text-center w-responsive mx-auto pb-5">Escribinos para cualquier duda o reclamo. Si queres unirte al Buen Sabor o publicitar en nuestro sitio, enviá un mail a la dirección de abajo.</p>
        <div id="map-container-section" class="z-depth-1-half map-container-section mb-4" style="height: 100px;">
            <iframe src="https://maps.google.com/maps?q=UTN%20Mendoza&t=&z=15&ie=UTF8&iwloc=&output=embed" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="row text-center" id="infoContact">
            <div class="col-md-4">
                <p>Cnel Rodríguez 273, M5500 Mendoza</p>
                <p class="mb-md-0">Argentina</p>
            </div>
            <div class="col-md-4">
                <p>+ 2615586148</p>
                <p class="mb-md-0">Lunes a domingos de 20:00 a 12:00, Sábados y domingos de 11:00 a 15:00</p>
            </div>
            <div class="col-md-4">
                <p>info@buensabor.com</p>
                <p class="mb-0">ventas@buensabor.com</p>
            </div>
            <br><br>
            <p class="text-center w-responsive mx-auto pb-5">
                Seguinos en nuestras redes sociales:</p>
            <div>
                <a> <img src="https://www.vectorlogo.zone/logos/facebook/facebook-tile.svg" alt="Java" width="40" height="40" /> </a>
                <a> <img src="https://www.vectorlogo.zone/logos/instagram/instagram-tile.svg" alt="Java" width="40" height="40" /> </a>
                <a> <img src="https://www.vectorlogo.zone/logos/youtube/youtube-tile.svg" alt="Java" width="40" height="40" /> </a>
                <a> <img src="https://www.vectorlogo.zone/logos/twitter/twitter-tile.svg" alt="Java" width="40" height="40" /> </a>
                <a> <img src="https://www.vectorlogo.zone/logos/linkedin/linkedin-tile.svg" alt="Java" width="40" height="40" /> </a>
                <a> <img src="https://www.vectorlogo.zone/logos/pinterest/pinterest-tile.svg" alt="Java" width="40" height="40" /> </a>
            </div>
        </div>
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2022 Copyright:
            <a class="text-reset fw-bold" href="https://photos.app.goo.gl/B1rm8nPp9Yx4fUTd6">onesoftware.com</a>
        </div>
    </footer>
</main>