<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="">El buen sabor</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" [routerLink]="['home']">Home</a>
            <a class="nav-item nav-link" [routerLink]="['insumos']">Insumos</a>
            <a class="nav-item nav-link" [routerLink]="['rubroInsumos']">Rubro Insumo</a>
            <a class="nav-item nav-link" [routerLink]="['productos']">Productos</a>
            <a class="nav-item nav-link" [routerLink]="['rubroProductos']">Rubro Productos</a>
            <a class="nav-item nav-link" [routerLink]="['platos']">Comercio Electrónico</a>
        </div>
    </div>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm2" type="search" placeholder="Buscar Plato" arialabel="Buscar Plato" #buscarTexto>
        <button (click)="buscarPlatos(buscarTexto.value)" class="btn btn-outlinesuccess my-2 my-sm-0" type="submit">Buscar</button>
        </form>
</nav>